.rect-class {
	position: absolute;
	width: 70px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.rect-up-transform {
	transform: translateY(70px);
	background-color: red;
	transition: transform 500ms ease-in-out;
}

.rect-down-transform {
	transform: translateY(-70px);
	background-color: red;
	transition: transform 500ms ease-in-out;
}

.main-game-window {
	position: relative;
	border: 1px solid black;
}
